<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

	<link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="version">
      <div class="div">
        <div class="overlap">
          <p class="element-climate-change">
            <span class="text-wrapper">2024 Climate Change Factsheets<br /></span>
            <span class="span">Los Angeles County</span>
          </p>
          <img
            class="UCLA-latinodatehub"
            src="https://c.animaapp.com/GfNmzBMU/img/ucla-latinodatehub-1c-white-300x-1@2x.png"
          />
        </div>
        <div class="overlap-group">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="rectangle"></div>
              <div class="median-age">Median<br />Age</div>
              <img class="person" src="https://c.animaapp.com/GfNmzBMU/img/person.svg" />
              <p class="latino-yrs-NL">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 32 yrs<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 45 yrs</span>
              </p>
              <div class="graph">
                <div class="overlap-4">
                  <div class="rectangle-2"></div>
                  <div class="frame">
                    <div class="group"></div>
                    <div class="text-wrapper-4">Latino</div>
                  </div>
                  <div class="overlap-wrapper">
                    <div class="overlap-5">
                      <div class="overlap-group-wrapper">
                        <div class="overlap-group-2">
                          <img class="ellipse" src="https://c.animaapp.com/GfNmzBMU/img/ellipse-16.svg" />
                          <img class="img" src="https://c.animaapp.com/GfNmzBMU/img/ellipse-18.svg" />
                          <img class="ellipse-2" src="https://c.animaapp.com/GfNmzBMU/img/ellipse-17.svg" />
                        </div>
                      </div>
                      <div class="div-wrapper">
                        <div class="overlap-6"><div class="text-wrapper-5">48%</div></div>
                      </div>
                      <div class="group-2">
                        <div class="overlap-6"><div class="text-wrapper-6">26%</div></div>
                      </div>
                      <div class="group-3">
                        <div class="overlap-6"><div class="text-wrapper-6">26%</div></div>
                      </div>
                      <div class="text-wrapper-7">9.9</div>
                      <div class="text-wrapper-8">million</div>
                    </div>
                  </div>
                  <div class="text-wrapper-9">Population</div>
                  <div class="frame-2">
                    <div class="group-4"></div>
                    <div class="text-wrapper-4">NL white</div>
                  </div>
                  <div class="text-wrapper-10">2.5 million</div>
                  <div class="text-wrapper-11">4.9 million</div>
                  <div class="frame-3">
                    <div class="group-5"></div>
                    <div class="text-wrapper-12">Other</div>
                  </div>
                  <div class="text-wrapper-13">2.6 million</div>
                </div>
              </div>
            </div>
            <div class="overlap-7">
              <div class="rectangle-3"></div>
              <div class="SNAP-benefits">SNAP<br />Benefits</div>
              <p class="latino-NL-white">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 16%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 6%</span>
              </p>
              <img class="toast" src="https://c.animaapp.com/GfNmzBMU/img/toast.svg" />
              <p class="p">*NL white = Non-Latino white</p>
            </div>
          </div>
          <div class="overlap-8">
            <div class="non-citizen">Non-Citizen<br />Population</div>
            <p class="latino-NL-white-2">
              <span class="text-wrapper-2">Latino:</span>
              <span class="text-wrapper-3"> 21%<br /></span>
              <span class="text-wrapper-2">NL white:</span>
              <span class="text-wrapper-3"> 5%</span>
            </p>
            <img class="user-identifier-card" src="https://c.animaapp.com/GfNmzBMU/img/user-identifier-card.svg" />
          </div>
        </div>
        <div class="overlap-9">
          <div class="overlap-10">
            <div class="overlap-11">
              <div class="rectangle-4"></div>
              <div class="rectangle-5"></div>
              <div class="rectangle-6"></div>
              <div class="rectangle-7"></div>
              <div class="rectangle-8"></div>
              <div class="uninsured-rate">Uninsured<br />Rate</div>
              <div class="life-expectancy">Life<br />Expectancy</div>
              <div class="fair-poor-health">Fair/Poor<br />Health Status</div>
              <div class="poverty-rate">Poverty<br />Rate</div>
              <div class="renter-occupied">Renter Occupied<br />Households</div>
              <p class="latino-NL-white-3">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 13%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 4%</span>
              </p>
              <p class="latino-yrs-NL-2">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 80 yrs<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 80 yrs</span>
              </p>
              <p class="latino-NL-white-4">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 20%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 10%</span>
              </p>
              <p class="latino-NL-white-5">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 16%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 10%</span>
              </p>
              <p class="latino-NL-white-6">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 60%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 46%</span>
              </p>
              <img class="piggy-bank" src="https://c.animaapp.com/GfNmzBMU/img/piggy-bank.svg" />
              <img class="home" src="https://c.animaapp.com/GfNmzBMU/img/home-2.svg" />
              <img class="medical-bag" src="https://c.animaapp.com/GfNmzBMU/img/medical-bag.svg" />
              <img class="heart-rate-pulse" src="https://c.animaapp.com/GfNmzBMU/img/heart-rate-pulse-graph.svg" />
              <img class="health-care" src="https://c.animaapp.com/GfNmzBMU/img/health-care.svg" />
            </div>
            <div class="overlap-12">
              <div class="limited-english">Limited English<br />Proficiency</div>
              <p class="latino-NL-white-2">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> 32%<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> 7%</span>
              </p>
              <img class="dictionary-language" src="https://c.animaapp.com/GfNmzBMU/img/dictionary-language-book.svg" />
            </div>
            <div class="overlap-13">
              <div class="text-wrapper-14">Household Median Income</div>
              <p class="latino-k-NL-white">
                <span class="text-wrapper-2">Latino:</span>
                <span class="text-wrapper-3"> $71k<br /></span>
                <span class="text-wrapper-2">NL white:</span>
                <span class="text-wrapper-3"> $105k</span>
              </p>
              <img class="dollar-coin" src="https://c.animaapp.com/GfNmzBMU/img/dollar-coin-2.svg" />
            </div>
          </div>
          <div class="overlap-14">
            <div class="food-insecurity">Food<br />Insecurity</div>
            <p class="latino-NL-white-7">
              <span class="text-wrapper-2">Latino:</span>
              <span class="text-wrapper-3"> 19%<br /></span>
              <span class="text-wrapper-2">NL white:</span>
              <span class="text-wrapper-3"> 10%</span>
            </p>
            <img class="fork-knife" src="https://c.animaapp.com/GfNmzBMU/img/fork-knife.svg" />
          </div>
        </div>
        <div class="overlap-15">
          <div class="overlap-16">
            <div class="overlap-17">
              <img class="group-6" src="https://c.animaapp.com/GfNmzBMU/img/group-18.png" />
              <div class="rectangle-9"></div>
              <div class="text-wrapper-15", id="map_title">[MAP TITLE]</div>
              <p class="categorical-average">
                <span class="text-wrapper-16">Categorical Average<br /></span>
                <span class="text-wrapper-3"
                  >Zero Day Count<br />Below/Equal Avg.<br />Above Avg.<br />Latino Neighborhoods</span
                >
              </p>
              <div class="rectangle-10"></div>
              <div class="rectangle-11"></div>
              <div class="rectangle-12"></div>
              <div class="rectangle-13"></div>
            </div>
            <div class="overlap-18">
              <p class="text-wrapper-17">
                The Federal Emergency Management Agency defines a period of extreme heat in most of the U.S. as a period
                of 2 to 3 days above 90°F.
              </p>
            </div>
            <div class="overlap-19">
              <p class="text-wrapper-18">
                Looking forward, Latino neighborhoods are projected to experience a greater number of days with higher
                temperatures.
              </p>
            </div>
            <div class="overlap-20">
              <div class="rectangle-14"></div>
              <div class="rectangle-15"></div>
              <p class="at-f-the-risk-of">
                At 90°F, the risk of <br />heat-related illnesses and conditions increases significantly.
              </p>
              <div class="text-wrapper-19">Historical Temperature, 90°F (2018-2022)</div>
              <div class="text-wrapper-20">Latino neighborhoods</div>
              <div class="text-wrapper-21">NL white neighborhoods</div>
              <p class="text-wrapper-22">average days ≥ 90°F annually</p>
              <div class="text-wrapper-23">24</div>
              <div class="text-wrapper-24">8</div>
            </div>
            <p class="text-wrapper-25">Longest Period of Consecutive Days at or Above 90°F (2022)</p>
            <p class="text-wrapper-26">Projected Number of Days Above 90°F by Mid-Century (2035–2064)</p>
          </div>
          <div class="overlap-21">
            <div class="rectangle-16"></div>
            <div class="text-wrapper-27">Latino neighborhoods</div>
            <div class="text-wrapper-28">NL white neighborhoods</div>
            <p class="text-wrapper-29">consecutive days ≥ 90°F annually</p>
            <div class="text-wrapper-30">8</div>
            <div class="text-wrapper-31">7</div>
          </div>
          <div class="overlap-22">
            <div class="rectangle-16"></div>
            <div class="text-wrapper-27">Latino neighborhoods</div>
            <div class="text-wrapper-28">NL white neighborhoods</div>
            <p class="text-wrapper-32">expected days ≥ 90°F annually</p>
            <div class="text-wrapper-30">76</div>
            <div class="text-wrapper-31">54</div>
          </div>
        </div>
        <div class="overlap-23">
          <div class="rectangle-17"></div>
          <div class="text-wrapper-33">EXTREME HEAT</div>
        </div>
        <div class="text-wrapper-34">County Statistics</div>
        <div class="overlap-24">
          <div class="text-wrapper-35">Neighborhood-Level Analysis</div>
          <div class="text-wrapper-36">High Temperature Days</div>
        </div>
        <div class="overlap-25">
          <p class="for-more-information">
            <span class="text-wrapper-37">For more information, visit </span>
            <span class="text-wrapper-38">LatinoClimateHealth.org</span>
          </p>
          <p class="text-wrapper-39">UCLA Latino Policy and Politics Institute, 2024</p>
        </div>
      </div>
    </div>
  </body>
</html>
