@font-face {
    font-family: 'Quattrocento Sans';
    src: url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento Sans';
    src: url('../fonts/QuattrocentoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Quattrocento Sans', 'Courier New', Courier, monospace;
}

.header-logo {
    display: flex;
    align-items: center;
    max-width: 300px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
}

.report-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.two-column-layout {
    width: 60%; /* Adjust the width to bring columns closer */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
}

.two-column-layout td {
    vertical-align: top;
    padding: 10px;
}

.left-column {
    width: 33.33%; /* 1/3 of the row */
}

.map-image {
    max-width: 100px;
}

.right-column {
    width: 66.67%; /* 2/3 of the row */
    padding-left: 10px; /* Reduce padding to bring columns closer */
}

.right-column h2 {
    font-weight: bold;
}

.population-characteristics p {
    margin: 5px 0;
}

/* New styles for the County Statistics table */
.county-statistics {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.county-statistics th, .county-statistics td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center the contents of the table */
}

.county-statistics th {
    background-color: #cfe2f3;
    font-weight: bold;
}

.county-statistics td:first-child {
    background-color: #cfe2f3;
    font-weight: bold;
    text-align: left; /* Align the first column to the left */
    width: 200px; /* Adjust the width to make it tighter */
}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: 12px;
    padding-right: 10mm;
    padding-bottom: 10mm;
}